img {
    width: 100%;
    height: auto;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #737373;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ddd;
    text-align: right;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav li {
    font-size: 25px;
    display: inline-block;
    padding-left: 20px;
    text-align: right;
    margin: right;
}

nav li:hover {
    text-decoration: underline;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
  }

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    row-gap: 15px;
}

nav > img {
    height: 5%;
    width: 5%;
}

.main {
    grid-column: 1/-1;
    background-image: url(../images/SQR_Can_Two.jpeg);
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    height: 600px;                /* Parallax effect */
}

.main p {
    font-size: 30px;
    padding: 0 100px;
    text-align: center;
    color: aliceblue;
}

h1 {
    font-size: 100px;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 2;
    grid-column: 2/span 1;
}
.about h1 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-column: 1/-1;
    font-weight: bold;
}

.about p {
    font-size: 35px;
    color: aliceblue;
    grid-column: 1/-1;
    margin: auto;
    text-align: center;
    line-height: 1;
}

.about img {
    grid-column: 1/-1;
    width: 100%;
    height: auto;
}

.unique {
    display: grid;
    grid-row: 3;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 2/span 1;

}
.unique h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-column: 1/-1;
    font-size: 50px;
}

footer p{
    display: grid;
    color: aliceblue;
}

.unique p {
    font-size: 25px;
    color: aliceblue;
    grid-column: 1/4;
    margin: auto;
    text-align: left;
    line-height: 1;
}

#stl_cont {
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 4/-1;
}

