@font-face {
    font-family: Balboa;
    src: url(font/BalboaLight.ttf);
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

div.skip a{
    position: absolute;
    top: -40px;
}

div.skip a:focus {
    /* position: relative; */
    top: 20px;
}

img {
    width: 100%;
    height: auto;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Balboa;
    background-color: #737373;
    font-size: 18px;
    line-height: 1.15;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ddd;
    text-align: center;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    font-size: 25px;
    /* padding-left: 20px; */
    text-align: center;
    font-weight: bold;
    margin: center;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav li:hover {
    text-decoration: underline;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
  }

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    row-gap: 15px;
}

.about_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav > img {
    /* display: none; */
    height: 10%;
    width: 10%;
}

.main {
    grid-column: 1/-1;
    background-image: url(../images/SQR_Can_Two.jpeg);
    background-attachment: fixed; /* Parallax effect */     
    background-position: center;  /* Parallax effect */
    background-repeat: no-repeat; /* Parallax effect */
    background-size: cover;       /* Parallax effect */
    height: 600px;                /* Parallax effect */
}

.main p {
    grid-column: 1/-1;
    font-size: 25px;
    padding: 50px 100px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    position: static;
}

h1 {
    font-family: Balboa;
    font-size: 100px;
    line-height: 1;
    padding: 50px 50px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

.main h1 {
    font-size: 75px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 2;
    grid-column: 2/span 1;
}
.about h1 {
    font-size: 50px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    grid-column: 1/-1;
    font-weight: bold;
}

.about p {
    font-size: 35px;
    color: aliceblue;
    grid-column: 1/-1;
    margin: auto;
    text-align: center;
    line-height: 1;
}

.about img {
    grid-column: 1/-1;
    width: 100%;
    height: auto;
}

.unique {
    /* display: grid;
    grid-template-columns: 1fr 5fr 1fr; */
    position: relative;
    grid-column: 1/-1;
}
.unique h1 {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* grid-column: 1/-1; */
    font-size: 50px;
    position: relative;
}

footer p{
    padding-top: 25px;
    font-size: 20px;
    display: grid;
    color: white;
    background-color: #333333;
    /* margin: auto; */
}

.unique p {
    grid-row: 2;
    font-size: 30px;
    color: aliceblue;
    /* grid-column: 1/-1; */
    margin: auto;
    text-align: center;
    position: relative;
}

#stl_cont {
    padding-top: 25px;;
    display: grid;
    grid-row: 3;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 4/-1;
}

/* .images:first-child {
    display: grid;
} */
/* 
.images:nth-child(2) {
    
} */

.active {
    /* border: solid 2px black; */
    color: blue;
    border-radius: 10%;
    text-decoration: underline;
}

.images {
    row-gap: 15px;
}

@media (prefers-reduced-motion) {
    #stl_cont {
        display: none;
        background-image: url(../images/stl_image.png);
    }
}

.images {
    display: grid;
    grid-column: 1/-1;
}

@media screen and (min-width: 700px) {
    nav {
        background-color: #ddd;
        text-align: center;
        padding: 20px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;        
        /* padding-bottom: 20px; */
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row;
    }
    
    nav li {
        font-size: 25px;
        /* display: inline-block; */
        padding-left: 20px;
        text-align: right;
        margin: right;
        font-weight: bold;
    }

    nav li:hover {
        text-decoration: underline;
    }
    
    nav a{
        color: black;
        font-weight: bold;
        text-decoration: none; 
      }
    
    .container {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        row-gap: 15px;
    }
    
    nav > img {
        height: 10%;
        width: 10%;
    }

    .images {
        display: grid;
        grid-template-columns: 50% 50%;
        object-fit: contain;
        overflow: hidden;
        /* grid-auto-rows: 1fr; */
        column-gap: 15px;
        /* border: 3px solid aliceblue; */
        }

    .images > img {
        border: 3px solid aliceblue;
        border-radius: 5px;
        max-height: 175px;
    }

    .warehouse {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .warehouse #image1, #image2, #image3, #image4, #image5 {
        border: solid 3px aliceblue;
        margin: 10px;
        width: 250px;
        border-radius: 10px;
    }

@media screen and (min-width: 900px) {

    nav {
        background-color: #ddd;
        text-align: center;
        padding: 20px 10px;
        display: flex;
        flex-direction: row;
        align-items: center;        
        /* padding-bottom: 20px; */
        justify-content: left;
    }

    nav > img {
        width: 5%;
        height: 5%;
    }

    nav a {
        font-size: 100%;
    }

    .images {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: auto;
    }

    images:first-child {
        grid-row: 4;
    }


    }

}